:root {
    --amarelo: #BFF009;
    --cinza: #868585;
    --preto: #1e1e1e;
    --branco: #ffffff;
    --cinzaclaro: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
}

.space-between {
    grid-template-columns: 1fr auto auto;
    align-items: center;
    
}

header {
    padding: 19px;
}

header section {
    width: 1080px; 
    margin: 0 auto;
}

header section nav {
    gap: 32px;
    background-color: var(--cinzaclaro);
    padding: 16px 0;
    display: grid;
    grid-auto-flow: column;
    margin: 100px;
}

header section nav a {
    text-decoration: none;
    color: var(--preto);
}

header section > a {
    color: var(--preto);
    background-color: var(--amarelo);
    padding: 16px;
    text-decoration: none;
}

main section {
    width: 1080px;
    margin: 64px auto;
}

main header {
    padding: 0;
    text-align: center;
}

main header small {
    padding: 8px;
    background-color: var(--amarelo);
    font-size: 14px;
    font-weight: bold;
    color: var(--preto);
}

main header h1 {
    font-size: 48px;
    padding: 8px 0;
}

main header p {
    font-size: 14px;
    color: var(--cinza);
    max-width: 354px;
    margin: 0 auto;
}

main section > section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    gap: 32px;
}

main section .card {
    padding: 24px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 16px;
    background-color: var(--cinzaclaro);
    border-radius: 8px;
}

main section .card:hover {
    background-color: var(--preto);
}

main section .card a {
    color: var(--preto);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

main section .card:hover a {
    color: var(--branco);
}

main section .card p {
    color: var(--cinza);
    font-size: 14px;
}

footer {
    text-align: center;
    background-color: var(--preto);
    color: var(--cinza);
    padding: 46px 0;
}
